# Node modules
/node_modules

# Build directories
/build
/dist

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Coverage directory
/coverage

# Dependency directory
/public/uploads

# Ignore specific files and directories
client/build
client/.env
client/node_modules
server/node_modules
server/.env

# Optional - Ignore package lock files if you want a clean state
# package-lock.json

